SmartRoute.BNR/SmartRoute.BNR/bin/
SmartRoute.BNR/SmartRoute.BNR/obj/
SmartRoute.BNR/SmartRoute.NBR.ClientConsole/bin/
SmartRoute.BNR/SmartRoute.NBR.ClientConsole/obj/
SmartRoute.BNR/SmartRoute.NBR.ServerConsole/bin/
SmartRoute.BNR/SmartRoute.NBR.ServerConsole/obj/
